.principal{
    display:flex;
    align-items: center;
    height: 100vh;
    justify-content: center;

}

.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 50%;
    background-color: rgb(101, 122, 115);
    border-radius: 10px;
}

.botaohome{
    border-radius: 10px;
    height: 15%;
    width: 35%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: larger;

}

.titulo{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.derek{
    text-decoration:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}


.formulario{
    background-color: rgb(101, 122, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    border-radius: 10px;
}

h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

form{
    display: flex;
    flex-direction: column;
}

.botaocadastro{
    border-radius: 10px;
    height: 50px;
    width: 135px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: larger;
    margin-left: 60px;

}

input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;

}


.lista{
    background-color:rgb(101, 122, 115);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
    
}
table{
    border: 2px solid black;
}

.userpagina{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.cadastropagina{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.meio{
    background-color: rgb(101, 122, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    border-radius: 10px;
    
}

.meioindexuser{
    background-color: rgb(101, 122, 115);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 20px;

    
}


a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    
}

.botaousuario{
    background-color: rgb(101, 122, 115);
    border-radius: 10px;
    height: 30px;
    width: 200px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size:small;
    color: aliceblue;

}

.bodyeditar{
    background-color: rgb(101, 122, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    border-radius: 10px;

}

.botaoeditar{
    border-radius: 10px;
    height: 50px;
    width: 135px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: larger;
    margin-left: 60px;
    
}

.reserva{
    background-color: rgb(101, 122, 115);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.botaoreserva{
    border-radius: 10px;
    height: 50px;
    width: 135px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: larger;
    margin-left: 60px;
}

.botaocriar{
    border-radius: 10px;
    height: 50px;
    width: 135px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: larger;
    margin-left: 60px;
}

